In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

import numpy as np
import altair as alt

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))

## Load Data

In [326]:
pd.set_option("display.max_columns", None)

p_locations = pd.read_csv('./data/pleiades-locations-latest.csv')
p_names = pd.read_csv('./data/pleiades-names-latest.csv')
p_places = pd.read_csv('./data/pleiades-places-latest.csv')

### pleiades-locations-latest.csv

In [327]:
print(len(p_locations), ' rows')
p_locations.head(3)

40468  rows

,authors,bbox,created,creators,currentVersion,description,featureType,geometry,id,locationPrecision,locationType,maxDate,minDate,modified,path,pid,reprLat,reprLatLong,reprLong,tags,timePeriods,timePeriodsKeys,timePeriodsRange,title,uid
0,"Becker, J.","13.4119837, 42.082885, 13.4119837, 42.082885",2013-07-15T17:16:48Z,jbecker,4.0,The post-Roman settlement at Alba Fucens. Loca...,"settlement,","{""type"": ""Point"", ""coordinates"": [13.4119837, ...",location-of-borgo-medioevale,precise,"representative,",1453.0,640.0,2016-11-04T23:33:08Z,/places/48210385/location-of-borgo-medioevale,/places/48210385,42.082885,"42.082885,13.4119837",13.411984,extant remains,M,mediaeval-byzantine,"640.0,1453.0",OSM location of Borgo Medievale,3e81cf966a1407978021141372c3f921
1,"Becker, J.","11.6285463, 42.4193742, 11.6285463, 42.4193742",2013-07-11T15:48:53Z,jbecker,3.0,A major urban sanctuary at Vulci with a long p...,"temple-2,","{""type"": ""Point"", ""coordinates"": [11.6285463, ...",location-of-tempio-grande,precise,"representative,",300.0,-750.0,2016-12-05T11:47:11Z,/places/48210386/location-of-tempio-grande,/places/48210386,42.419374,"42.4193742,11.6285463",11.628546,NaN,ACHR,"archaic,classical,hellenistic-republican,roman","-750.0,300.0",OSM location of Tempio Grande,b2d62017b95615f275a79666f79a6631
2,"Spann, P., D. R. Talbert, T. Elliott, S. Gillies","-3.606772, 39.460299, -3.606772, 39.460299",2011-03-10T00:05:52Z,P.O. Spann,1.0,1M scale point location,unknown,"{""type"": ""Point"", ""coordinates"": [-3.606772, 3...",darmc-location-20192,precise,representative,640.0,-330.0,2011-03-10T00:05:53Z,/places/265876/darmc-location-20192,/places/265876,39.460299,"39.460299,-3.606772",-3.606772,NaN,HRL,"hellenistic-republican,roman,late-antique","-330.0,640.0",DARMC location 20192,62e35ae520c733fd1b3d538cfc93024d

### pleiades-names-latest.csv

In [328]:
print(len(p_names), ' rows')
p_names.head(3)

34133  rows

,authors,bbox,created,creators,currentVersion,description,extent,id,locationPrecision,maxDate,minDate,modified,nameAttested,nameLanguage,nameTransliterated,path,pid,reprLat,reprLatLong,reprLong,tags,timePeriods,timePeriodsKeys,timePeriodsRange,title,uid
0,"Spann, P., R. Warner, R. Talbert, T. Elliott, ...","-3.606772, 39.460299, -3.606772, 39.460299",2010-09-24T19:02:22Z,P.O. Spann,NaN,NaN,"{""type"": ""Point"", ""coordinates"": [-3.606772, 3...",consabura,precise,640.0,-330.0,2011-09-05T20:57:22Z,NaN,NaN,Consabura,/places/265876/consabura,/places/265876,39.460299,"39.460299,-3.606772",-3.606772,NaN,HRL,"hellenistic-republican,roman,late-antique","-330.0,640.0",Consabura,fc0ee157ff11ce6d2e72cd7c5df06fee
1,"Spann, P., R. Warner, R. Talbert, T. Elliott, ...","-3.606772, 39.460299, -3.606772, 39.460299",2010-09-24T19:02:22Z,P.O. Spann,NaN,NaN,"{""type"": ""Point"", ""coordinates"": [-3.606772, 3...",consabrum,precise,640.0,-330.0,2011-09-05T20:57:22Z,NaN,NaN,Consabrum,/places/265876/consabrum,/places/265876,39.460299,"39.460299,-3.606772",-3.606772,NaN,HRL,"hellenistic-republican,roman,late-antique","-330.0,640.0",Consabrum,e2b8756302fb62ff0e301710c265a3e6
2,"Spann, P., R. Warner, R. Talbert, T. Elliott, ...","-3.606772, 39.460299, -3.606772, 39.460299",2010-09-24T19:02:22Z,P.O. Spann,NaN,NaN,"{""type"": ""Point"", ""coordinates"": [-3.606772, 3...",kondabora,precise,640.0,-330.0,2011-09-05T20:57:22Z,NaN,NaN,Kondabora,/places/265876/kondabora,/places/265876,39.460299,"39.460299,-3.606772",-3.606772,NaN,HRL,"hellenistic-republican,roman,late-antique","-330.0,640.0",Kondabora,f742b67b8343a6c68f222fbf607dcbf9

### pleiades-places-latest.csv

In [329]:
print(len(p_places), ' rows')
p_places.head(3)

37737  rows

,authors,bbox,connectsWith,created,creators,currentVersion,description,extent,featureTypes,geoContext,hasConnectionsWith,id,locationPrecision,maxDate,minDate,modified,path,reprLat,reprLatLong,reprLong,tags,timePeriods,timePeriodsKeys,timePeriodsRange,title,uid
0,"Becker, J., T. Elliott","13.4119837, 42.082885, 13.4119837, 42.082885",413005,2016-11-04T16:36:09Z,"jbecker, thomase",1.0,The post-Roman settlement at Alba Fucens becam...,"{""type"": ""Point"", ""coordinates"": [13.4119837, ...",settlement,NaN,NaN,48210385,precise,1453.0,640.0,2016-11-08T21:58:28Z,/places/48210385,42.082885,"42.082885,13.4119837",13.411984,NaN,M,mediaeval-byzantine,"640.0,1453.0",Borgo Medievale,ece5760c4c6d42c1a331aad543c4ecc4
1,"Becker, J., T. Elliott","11.6285463, 42.4193742, 11.6285463, 42.4193742",413393,2016-11-04T16:39:09Z,"jbecker, thomase",2.0,A major urban sanctuary at Vulci with a long p...,"{""type"": ""Point"", ""coordinates"": [11.6285463, ...",temple-2,NaN,NaN,48210386,precise,300.0,-750.0,2016-12-05T11:47:10Z,/places/48210386,42.419374,"42.4193742,11.6285463",11.628546,"sanctuary, extant remains, temple",ACHR,"archaic,classical,hellenistic-republican,roman","-750.0,300.0",Tempio Grande at Vulci,4e06898f2de74dbc9f3a3bdba6d74ba2
2,"Spann, P., DARMC, R. Talbert, S. Gillies, R. W...","-3.606772, 39.460299, -3.606772, 39.460299",NaN,2010-09-24T19:02:22Z,P.O. Spann,15.0,"An ancient settlement, likely of Celtic origin...","{""type"": ""Point"", ""coordinates"": [-3.606772, 3...",settlement,Consuegra,266518,265876,precise,640.0,-330.0,2020-09-25T03:36:50Z,/places/265876,39.460299,"39.460299,-3.606772",-3.606772,"dare:ancient=1, dare:major=1, dare:feature=maj...",HRL,"hellenistic-republican,roman,late-antique","-330.0,640.0",Consabura/Consabrum,3fb26862377912da0f866fc310bcaf0c

# Data Preprocessing

### Getting the id number from 'pid' column of 'lacations' and 'names' files

In [10]:
for i in range(len(p_locations)):
    if "/places/" in p_locations['pid'][i]:
        p_locations['pid'][i] = int(p_locations['pid'][i].replace("/places/", ""))
    elif "/errata/" in p_locations['pid'][i]:
        p_locations['pid'][i] = int(p_locations['pid'][i].replace("/errata/", ""))
#p_locations.rename(columns={"pid": "id"})


p_locations.head(2)

,authors,bbox,created,creators,currentVersion,description,featureType,geometry,id,locationPrecision,locationType,maxDate,minDate,modified,path,pid,reprLat,reprLatLong,reprLong,tags,timePeriods,timePeriodsKeys,timePeriodsRange,title,uid
0,"Becker, J.","13.4119837, 42.082885, 13.4119837, 42.082885",2013-07-15T17:16:48Z,jbecker,4.0,The post-Roman settlement at Alba Fucens. Loca...,"settlement,","{""type"": ""Point"", ""coordinates"": [13.4119837, ...",location-of-borgo-medioevale,precise,"representative,",1453.0,640.0,2016-11-04T23:33:08Z,/places/48210385/location-of-borgo-medioevale,48210385,42.082885,"42.082885,13.4119837",13.411984,extant remains,M,mediaeval-byzantine,"640.0,1453.0",OSM location of Borgo Medievale,3e81cf966a1407978021141372c3f921
1,"Becker, J.","11.6285463, 42.4193742, 11.6285463, 42.4193742",2013-07-11T15:48:53Z,jbecker,3.0,A major urban sanctuary at Vulci with a long p...,"temple-2,","{""type"": ""Point"", ""coordinates"": [11.6285463, ...",location-of-tempio-grande,precise,"representative,",300.0,-750.0,2016-12-05T11:47:11Z,/places/48210386/location-of-tempio-grande,48210386,42.419374,"42.4193742,11.6285463",11.628546,NaN,ACHR,"archaic,classical,hellenistic-republican,roman","-750.0,300.0",OSM location of Tempio Grande,b2d62017b95615f275a79666f79a6631

In [11]:
for i in range(len(p_names)):
    if "/places/" in p_names['pid'][i]:
        p_names['pid'][i] = int(p_names['pid'][i].replace("/places/", ""))
    elif "/errata/" in p_names['pid'][i]:
        p_names['pid'][i] = int(p_names['pid'][i].replace("/errata/", ""))
#p_names.rename(columns={"pid": "id"})

p_names.head(2)

,authors,bbox,created,creators,currentVersion,description,extent,id,locationPrecision,maxDate,minDate,modified,nameAttested,nameLanguage,nameTransliterated,path,pid,reprLat,reprLatLong,reprLong,tags,timePeriods,timePeriodsKeys,timePeriodsRange,title,uid
0,"Spann, P., R. Warner, R. Talbert, T. Elliott, ...","-3.606772, 39.460299, -3.606772, 39.460299",2010-09-24T19:02:22Z,P.O. Spann,NaN,NaN,"{""type"": ""Point"", ""coordinates"": [-3.606772, 3...",consabura,precise,640.0,-330.0,2011-09-05T20:57:22Z,NaN,NaN,Consabura,/places/265876/consabura,265876,39.460299,"39.460299,-3.606772",-3.606772,NaN,HRL,"hellenistic-republican,roman,late-antique","-330.0,640.0",Consabura,fc0ee157ff11ce6d2e72cd7c5df06fee
1,"Spann, P., R. Warner, R. Talbert, T. Elliott, ...","-3.606772, 39.460299, -3.606772, 39.460299",2010-09-24T19:02:22Z,P.O. Spann,NaN,NaN,"{""type"": ""Point"", ""coordinates"": [-3.606772, 3...",consabrum,precise,640.0,-330.0,2011-09-05T20:57:22Z,NaN,NaN,Consabrum,/places/265876/consabrum,265876,39.460299,"39.460299,-3.606772",-3.606772,NaN,HRL,"hellenistic-republican,roman,late-antique","-330.0,640.0",Consabrum,e2b8756302fb62ff0e301710c265a3e6

In [12]:
p_names.columns.values

array(['authors', 'bbox', 'created', 'creators', 'currentVersion',
       'description', 'extent', 'id', 'locationPrecision', 'maxDate',
       'minDate', 'modified', 'nameAttested', 'nameLanguage',
       'nameTransliterated', 'path', 'pid', 'reprLat', 'reprLatLong',
       'reprLong', 'tags', 'timePeriods', 'timePeriodsKeys',
       'timePeriodsRange', 'title', 'uid'], dtype=object)

### Getting the Country location of each feature, from the 'locations' csv file
#### It took ~6hours using the geopy library. Results were saved in a csv file.

In [14]:
# GEOLOCATIONS
geocomplete = pd.read_csv('geoComplete.csv', index_col=0)
geocomplete

              Country Code
0              Italia   it
1              Italia   it
2              España   es
3              España   es
4              España   es
...               ...  ...
40463  United Kingdom   gb
40464  United Kingdom   gb
40465          Italia   it
40466           Ελλάς   gr
40467          España   es

[40468 rows x 2 columns]

In [19]:
## Appending every feature's country
countr = list(geocomplete.Country.values)
c_code = list(geocomplete.Code.values)

locations_v1 = p_locations[['description', 'featureType', 'pid', 'minDate', 'maxDate']]
locations_v1['country'] = countr
locations_v1['c_code'] = c_code


## Drop Nan values
locations_v2 = locations_v1[~locations_v1['country'].isin(['Nan'])]
locations_v3 = locations_v2[locations_v2['minDate'].notna()]
locations_v3 = locations_v3[locations_v3['country'].notna()]

## Converint minDate and maxDate from str to int
locations_v3 = locations_v3.astype({"minDate": int, "maxDate": int})
locations_v3 = locations_v3.reset_index(drop=True)

## Dropping features with empty feature type (Total: 30 rows)
locations_v3 = locations_v3[locations_v3['featureType'].notna()].reset_index(drop=True)

locations_v3

,description,featureType,pid,minDate,maxDate,country,c_code
0,The post-Roman settlement at Alba Fucens. Loca...,"settlement,",48210385,640,1453,Italia,it
1,A major urban sanctuary at Vulci with a long p...,"temple-2,",48210386,-750,300,Italia,it
2,1M scale point location,unknown,265876,-330,640,España,es
3,NaN,unknown,265877,-330,300,España,es
4,1M scale point location,unknown,265878,-330,300,España,es
...,...,...,...,...,...,...,...
31109,coordinates after GeoHack.,fort-2,721382240,-800,100,United Kingdom,gb
31110,Coordinates after GeoHack.,"fort,",893850615,-800,100,United Kingdom,gb
31111,A first century AD amphitheater at Alba Fucens...,"amphitheatre,",535296216,-30,300,Italia,it
31112,Location based on OpenStreetMap,"amphitheatre,",233061794,-30,300,Ελλάς,gr
31113,Representative location based on OpenStreetMap,"temple-2,",743134062,-30,640,España,es

#### Translating every country name to English

In [27]:
import pytz

codes_unique = list(set(list(locations_v3.c_code.values)))

## xk which is Kosovo is no longer available in the pytz libabry,
## so we need to add it manually, thus we need the index
print('Kosovo (kx) index: ', codes_unique.index('xk'))

country_unique = []

for c in codes_unique:
    #print(c)
    if c!='xk':
        country_unique.append(pytz.country_names[c])

country_unique.insert(15, 'Kosovo')

countries_df = pd.DataFrame(data={'Country': country_unique,
                                  'C_code': codes_unique})

countries_df

Kosovo (kx) index:  15

          Country C_code
0          Turkey     tr
1         Ukraine     ua
2        Tanzania     tz
3        Pakistan     pk
4   Liechtenstein     li
..            ...    ...
91         Latvia     lv
92          Syria     sy
93         Jordan     jo
94        Algeria     dz
95          India     in

[96 rows x 2 columns]

#### Frequency of Ancient Places in each country

In [29]:
freq = []

for c in codes_unique:
    cntr = 0
    for i in range(len(locations_v3)):
        if locations_v3['c_code'][i] == c:
            cntr+=1
    freq.append(cntr)
   
    
countries_df['anc_places'] = freq
countries_df

          Country C_code  anc_places
0          Turkey     tr        4023
1         Ukraine     ua         463
2        Tanzania     tz           1
3        Pakistan     pk         104
4   Liechtenstein     li           4
..            ...    ...         ...
91         Latvia     lv           6
92          Syria     sy         555
93         Jordan     jo         245
94        Algeria     dz        1446
95          India     in         339

[96 rows x 3 columns]

In [30]:
countries_df[countries_df['Country']=='Cyprus']

   Country C_code  anc_places
10  Cyprus     cy         221

#### Counting the frequency of each Ancient Place type for each country

In [33]:
feat_typs = list(locations_v3.featureType.values)
feat_typ_loc_v3 = list(set(feat_typs))

print(len(feat_typ_loc_v3))

feat_typ_loc_v3_unique = []

for i in range(len(feat_typs)):
    a = feat_typs[i].split(",")
    for ii in range(len(a)):
        feat_typ_loc_v3_unique.append(a[ii])
        
feat_typ_loc_v3_unique = list(set(feat_typ_loc_v3_unique))
print(len(feat_typ_loc_v3_unique))

result = []
#p = 0
for cntry in codes_unique:
    #p+=1
    #print(p)
    c_list = []
    for feat in feat_typ_loc_v3_unique:
        c=0
        for i in range(len(locations_v3)):
            if cntry in locations_v3['c_code'][i]:
                if feat in locations_v3['featureType'][i]:
                    c+=1
        c_list.append(c)
    result.append(c_list)
    
a = result
a = np.array(a).T.tolist()

countries_df_new = countries_df

for i, feat in enumerate(feat_typ_loc_v3_unique):
    countries_df_new[feat] = a[i]
    

countries_df_new

334
107

,Country,C_code,anc_places,,findspot,dam,space-uncovered,amphitheatre,road,hill,architecturalcomplex,marsh-wetland,salt-pan-salina,stoa,palaistra,plain,arch,lagoon,fountain,oasis,province-2,sanctuary,military-installation-or-camp-temporary,causeway,aqueduct,province,island,fort-2,archipelago,nuraghe,abbey,plateau,circus,unlocated,bay,pyramid,fort,cistern,coast,tunnel,tumulus,temple-2,bridge,acropolis,vicus,monument,garden-hortus,stadium,mine-2,pass,settlement,shrine,settlement-modern,church,wall-2,city-wall,district,wall,bath,isthmus,townhouse,temple,cemetery,ekklesiasterion,basilica,reservoir,palace,spring,water-open,river,plaza,cairn,peninsula,region,people,church-2,tower-wall,treasury,urban,valley,theatre,unknown,mosque,production,taberna-shop,abbey-church,mine,cave,tomb,lake,palace-complex,fort-group,mountain,gymnasium,estuary,cape,estate,stadion,city-gate,earthwork,forest,canal,station,well,quarry,villa,tell,water-inland,port,lighthouse
0,Turkey,tr,4023,4023,1,0,0,2,1,1,6,1,0,0,1,0,10,0,0,0,2,14,0,0,4,2,49,0,4,0,1,0,1,2,1,0,23,0,0,1,5,13,11,1,0,14,0,0,0,3,399,1,32,4,1,3,0,4,2,0,1,14,1,0,1,0,0,1,14,53,1,0,1,9,1,3,0,0,3,0,26,3232,2,1,0,0,0,2,6,15,0,0,48,1,0,34,0,3,1,0,0,0,8,0,1,0,1,0,2,0
1,Ukraine,ua,463,463,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,4,0,0,0,7,0,0,0,0,0,0,0,0,0,22,0,2,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,2,10,0,0,0,0,0,0,0,0,0,0,0,415,0,0,0,0,0,1,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Tanzania,tz,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Pakistan,pk,104,104,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,87,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Liechtenstein,li,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Latvia,lv,6,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
92,Syria,sy,555,555,0,1,0,0,1,1,2,0,0,0,0,1,2,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,8,0,0,0,0,9,0,0,0,0,0,0,0,0,114,0,12,8,0,3,0,4,0,0,0,9,1,0,0,0,1,0,0,4,1,0,0,1,0,1,1,0,0,0,1,387,4,0,0,0,0,0,0,1,0,0,2,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0
93,Jordan,jo,245,245,0,0,0,0,0,2,1,0,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,16,0,0,0,0,3,0,0,0,1,1,0,0,0,35,0,2,1,0,0,0,0,0,0,0,3,1,0,0,0,1,0,0,2,0,0,0,0,0,0,0,0,0,0,2,173,0,0,0,0,0,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
94,Algeria,dz,1446,1446,0,0,0,2,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,6,0,0,0,0,1,0,0,0,0,0,0,0,0,55,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,4,1370,0,0,0,0,0,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
95,India,in,339,339,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,1,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,310,0,0,0,0,0,2,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

#### Get only the columns which have unique items length greater than 7.
#### This is done to get rid of any columns (feature types) that have very low values, their frequnecy is not so important beacuse they appear only a few times

In [34]:
countries_df_new = countries_df_new.drop(columns=[''])
countries_df_new.drop([col for col in countries_df_new.columns if (len(countries_df_new[col].unique()) <=7)],axis=1, inplace=True )
#cr2.to_csv('cr2v2.csv')
countries_df_new

,Country,C_code,anc_places,amphitheatre,architecturalcomplex,arch,sanctuary,island,fort,temple-2,bridge,monument,settlement,settlement-modern,church,city-wall,wall,bath,temple,cemetery,river,theatre,unknown,tomb,mountain,cape,station,villa
0,Turkey,tr,4023,2,6,10,14,49,23,13,11,14,399,32,4,3,4,2,14,1,53,26,3232,6,48,34,8,0
1,Ukraine,ua,463,0,0,0,0,2,4,0,0,0,22,2,0,0,0,0,0,3,10,0,415,0,0,2,0,0
2,Tanzania,tz,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,Pakistan,pk,104,0,1,1,0,1,0,1,0,0,5,0,0,0,0,0,1,0,7,0,87,0,2,0,0,0
4,Liechtenstein,li,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Latvia,lv,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0
92,Syria,sy,555,0,2,2,2,0,8,9,0,0,114,12,8,3,4,0,9,1,4,1,387,0,2,0,3,0
93,Jordan,jo,245,0,1,1,2,0,16,3,0,1,35,2,1,0,0,0,3,1,2,2,173,2,1,0,0,0
94,Algeria,dz,1446,2,0,0,0,1,6,1,0,0,55,0,0,1,1,0,1,0,4,4,1370,2,1,0,0,0
95,India,in,339,0,0,0,1,7,0,3,0,1,3,0,0,0,0,0,3,0,10,0,310,0,1,1,0,0

In [54]:
countries_df_new.to_csv('countries_df_new_des3.csv')
countries_df_new[countries_df_new['Country']=='Cyprus']

,Country,C_code,anc_places,amphitheatre,architecturalcomplex,arch,sanctuary,island,fort,temple-2,bridge,monument,settlement,settlement-modern,church,city-wall,wall,bath,temple,cemetery,river,theatre,unknown,tomb,mountain,cape,station,villa
10,Cyprus,cy,221,0,1,1,2,2,0,1,0,0,29,0,1,0,0,1,2,0,1,2,173,0,1,5,0,0

#### We get the countries with Ancient Places above 150

In [37]:
countries_df_new2 = countries_df_new[countries_df_new['anc_places'] > 150].reset_index(drop=True)
countries_df_new2

,Country,C_code,anc_places,amphitheatre,architecturalcomplex,arch,sanctuary,island,fort,temple-2,bridge,monument,settlement,settlement-modern,church,city-wall,wall,bath,temple,cemetery,river,theatre,unknown,tomb,mountain,cape,station,villa
0,Turkey,tr,4023,2,6,10,14,49,23,13,11,14,399,32,4,3,4,2,14,1,53,26,3232,6,48,34,8,0
1,Ukraine,ua,463,0,0,0,0,2,4,0,0,0,22,2,0,0,0,0,0,3,10,0,415,0,0,2,0,0
2,Germany,de,867,1,0,0,7,1,119,3,0,1,58,4,1,0,0,2,7,0,21,1,605,3,5,0,3,16
3,Austria,at,236,3,0,1,0,0,14,0,0,1,12,1,0,0,0,0,0,0,5,3,194,0,1,0,4,1
4,Cyprus,cy,221,0,1,1,2,2,0,1,0,0,29,0,1,0,0,1,2,0,1,2,173,0,1,5,0,0
5,Britain (UK),gb,1279,11,1,1,2,15,163,11,2,8,94,14,3,7,9,13,11,2,34,13,796,6,7,11,2,41
6,Libya,ly,645,2,6,8,0,1,3,4,0,0,23,0,2,0,0,1,4,0,0,6,579,0,0,5,0,1
7,Serbia,rs,259,1,0,0,0,0,8,0,1,1,4,0,0,0,0,0,0,0,2,1,241,0,0,0,1,0
8,Iraq,iq,504,0,7,7,0,0,1,44,0,2,94,5,0,12,12,0,44,0,9,1,261,1,1,0,0,0
9,Romania,ro,558,2,0,0,0,0,34,0,2,1,20,1,0,0,0,2,0,0,0,2,496,0,0,0,1,0
10,Italy,it,4316,60,31,54,60,58,34,79,40,9,450,91,71,29,33,29,82,76,164,106,2395,86,55,37,31,135
11,Egypt,eg,1236,0,4,4,2,2,18,35,0,7,74,0,15,0,0,1,35,14,6,1,996,21,1,4,7,0
12,Iran,ir,547,0,3,3,1,3,4,0,2,4,54,5,0,0,0,0,0,2,9,0,457,2,4,0,0,0
13,Morocco,ma,171,1,0,0,0,1,2,0,0,0,8,0,0,0,0,0,0,1,6,1,145,0,2,1,0,0
14,Portugal,pt,315,1,0,0,1,2,0,1,4,0,37,3,1,1,1,1,1,0,7,1,215,0,1,2,6,25
15,Tunisia,tn,1633,12,0,5,0,7,10,3,0,1,71,0,1,0,0,4,3,1,2,17,1497,0,1,2,0,0
16,Bulgaria,bg,287,0,1,1,0,0,9,0,1,0,22,0,0,0,0,2,0,0,4,0,235,2,2,0,6,0
17,Spain,es,1636,8,2,8,2,20,14,8,18,2,175,46,3,2,2,7,8,1,30,23,1233,11,6,5,9,37
18,France,fr,2643,20,4,9,29,11,13,10,15,14,197,22,11,1,1,16,20,1,46,35,2117,4,7,3,21,38
19,Russia,ru,380,0,0,0,0,2,2,0,0,0,13,0,0,0,0,0,0,7,16,0,329,1,0,1,0,0
20,Georgia,ge,155,0,0,0,0,0,2,0,0,0,7,1,0,0,0,0,2,0,11,0,125,0,1,0,0,0
21,Israel,il,345,2,1,1,2,0,8,3,0,1,75,6,2,0,0,0,3,3,4,3,235,1,2,0,0,0
22,Croatia,hr,240,3,1,2,0,15,7,1,0,0,12,1,2,0,0,1,1,0,4,5,182,0,1,2,3,1
23,Greece,gr,3021,2,22,27,41,157,17,49,2,5,234,23,16,5,5,3,50,11,26,28,2197,11,78,29,5,6
24,Syria,sy,555,0,2,2,2,0,8,9,0,0,114,12,8,3,4,0,9,1,4,1,387,0,2,0,3,0
25,Jordan,jo,245,0,1,1,2,0,16,3,0,1,35,2,1,0,0,0,3,1,2,2,173,2,1,0,0,0
26,Algeria,dz,1446,2,0,0,0,1,6,1,0,0,55,0,0,1,1,0,1,0,4,4,1370,2,1,0,0,0
27,India,in,339,0,0,0,1,7,0,3,0,1,3,0,0,0,0,0,3,0,10,0,310,0,1,1,0,0

In [39]:
## All the features
feattt = list(countries_df_new.columns.values)[3:]
des3_df = countries_df_new2

### Now we need to process the Time Periods

In [40]:
locations_v3

,description,featureType,pid,minDate,maxDate,country,c_code
0,The post-Roman settlement at Alba Fucens. Loca...,"settlement,",48210385,640,1453,Italia,it
1,A major urban sanctuary at Vulci with a long p...,"temple-2,",48210386,-750,300,Italia,it
2,1M scale point location,unknown,265876,-330,640,España,es
3,NaN,unknown,265877,-330,300,España,es
4,1M scale point location,unknown,265878,-330,300,España,es
...,...,...,...,...,...,...,...
31109,coordinates after GeoHack.,fort-2,721382240,-800,100,United Kingdom,gb
31110,Coordinates after GeoHack.,"fort,",893850615,-800,100,United Kingdom,gb
31111,A first century AD amphitheater at Alba Fucens...,"amphitheatre,",535296216,-30,300,Italia,it
31112,Location based on OpenStreetMap,"amphitheatre,",233061794,-30,300,Ελλάς,gr
31113,Representative location based on OpenStreetMap,"temple-2,",743134062,-30,640,España,es

In [41]:
## We translate every country name to engish 

countries = []

for i in range(len(locations_v3)):
    #print(c)
    if locations_v3['c_code'][i] !='xk':
        countries.append(pytz.country_names[locations_v3['c_code'][i]])
    else:
        countries.append('Kosovo')
        
locations_v3['countries'] = countries
locations_v3 = locations_v3.drop(columns=['country'])
locations_v3

,description,featureType,pid,minDate,maxDate,c_code,countries
0,The post-Roman settlement at Alba Fucens. Loca...,"settlement,",48210385,640,1453,it,Italy
1,A major urban sanctuary at Vulci with a long p...,"temple-2,",48210386,-750,300,it,Italy
2,1M scale point location,unknown,265876,-330,640,es,Spain
3,NaN,unknown,265877,-330,300,es,Spain
4,1M scale point location,unknown,265878,-330,300,es,Spain
...,...,...,...,...,...,...,...
31109,coordinates after GeoHack.,fort-2,721382240,-800,100,gb,Britain (UK)
31110,Coordinates after GeoHack.,"fort,",893850615,-800,100,gb,Britain (UK)
31111,A first century AD amphitheater at Alba Fucens...,"amphitheatre,",535296216,-30,300,it,Italy
31112,Location based on OpenStreetMap,"amphitheatre,",233061794,-30,300,gr,Greece
31113,Representative location based on OpenStreetMap,"temple-2,",743134062,-30,640,es,Spain

In [42]:
## Sort the dataframe by min and max date

des3_periods = locations_v3.sort_values(by=['minDate', 'maxDate']).reset_index(drop=True)
des3_periods = des3_periods.drop(columns='description')
des3_periods

       featureType        pid  minDate  maxDate c_code countries
0       settlement  464208936 -2600000     2000     jo    Jordan
1       settlement     903102 -2600000     2000     ir      Iran
2      settlement,  456814175   -18000    -9000     sy     Syria
3      settlement,  483473194   -10000    -3300     tr    Turkey
4       settlement  483473194   -10000    -3300     tr    Turkey
...            ...        ...      ...      ...    ...       ...
31109        river     893984     2000     2099     iq      Iraq
31110        river     894184     2000     2099     iq      Iraq
31111        river     109182     2000     2099     fr    France
31112        river     109328     2000     2099     be   Belgium
31113         hill  755385623     2000     2099     it     Italy

[31114 rows x 6 columns]

### Here we definining the range of every time period, and we assin the time period accordingly to every feature.
#### We assign each feature to the proper time period by checking if their min,maxDate average is within the range of the time Period

In [46]:
timePeriods = {'P': [-2600000, -18000],
               'ME':[-18000, -9000],
               'NE':[-9000, -5000],
               'CH':[-5000, -2500],
               'BR':[-2500, -1000],
               'A':[-1000, -550],
               'C':[-550, -330],
               'H':[-330, -30],
               'R':[-30, 300],
               'L':[300, 640],
               'M':[640, 1500],
               'MOD': [1500, 2100]}

periods = []

for i in range(len(des3_periods)):
    a = (des3_periods['minDate'][i]+des3_periods['maxDate'][i])/2
    for key in list(timePeriods.keys()):
        if int(a) in range(timePeriods[key][0],timePeriods[key][1]):
            periods.append(key)

des3_periods['periods'] = periods


avg_year = []          
for i in range(len(des3_periods)):
    for key in list(timePeriods.keys()):
        if key == des3_periods['periods'][i]:
            #a = (timePeriods[key][0]+timePeriods[key][1])/2
            a = (des3_periods['minDate'][i]+des3_periods['maxDate'][i])/2
            avg_year.append(int(a))
    
des3_periods['avg_year'] = avg_year

## Sort based on average year
des3_periods = des3_periods.sort_values(by=['avg_year']).reset_index(drop=True)

des3_periods

,featureType,pid,minDate,maxDate,c_code,countries,periods,avg_year
0,settlement,464208936,-2600000,2000,jo,Jordan,P,-1299000
1,settlement,903102,-2600000,2000,ir,Iran,P,-1299000
2,"settlement,",456814175,-18000,-9000,sy,Syria,ME,-13500
3,"settlement,",75292543,-10000,-3300,tr,Turkey,NE,-6650
4,settlement,880264862,-10000,-3300,il,Israel,NE,-6650
...,...,...,...,...,...,...,...,...
31109,river,433211,2000,2099,it,Italy,MOD,2049
31110,settlement-modern,426600,2000,2099,it,Italy,MOD,2049
31111,settlement-modern,426591,2000,2099,it,Italy,MOD,2049
31112,settlement-modern,420169498,2000,2099,it,Italy,MOD,2049
31113,hill,755385623,2000,2099,it,Italy,MOD,2049

In [53]:
des3_periods.to_csv('des3_periods.csv')

In [49]:
## we get the top 30 countries from the dataframe we constracted previously 
top_30_countries = list(set(list(des3_df.Country.values)))

## We only select these TOP 30 countries
des3_periods_v2 = des3_periods[des3_periods.countries.isin(top_30_countries)].reset_index(drop=True)
des3_periods_v2

,featureType,pid,minDate,maxDate,c_code,countries,periods,avg_year
0,settlement,464208936,-2600000,2000,jo,Jordan,P,-1299000
1,settlement,903102,-2600000,2000,ir,Iran,P,-1299000
2,"settlement,",456814175,-18000,-9000,sy,Syria,ME,-13500
3,"settlement,",75292543,-10000,-3300,tr,Turkey,NE,-6650
4,settlement,880264862,-10000,-3300,il,Israel,NE,-6650
...,...,...,...,...,...,...,...,...
28560,river,433211,2000,2099,it,Italy,MOD,2049
28561,settlement-modern,426600,2000,2099,it,Italy,MOD,2049
28562,settlement-modern,426591,2000,2099,it,Italy,MOD,2049
28563,settlement-modern,420169498,2000,2099,it,Italy,MOD,2049
28564,hill,755385623,2000,2099,it,Italy,MOD,2049

### Adding new column named info_legend to create a legend for the desing

In [50]:
info_legend = []

for i in range(len(des3_periods_v2)):
    if des3_periods_v2['periods'][i] == 'P':
        info_legend.append('Paleolithic: [-2600000, -18000]')
    elif des3_periods_v2['periods'][i] == 'ME':
        info_legend.append('Mesolithic: [-18000, -9000]')
    elif des3_periods_v2['periods'][i] == 'NE':
        info_legend.append('Neolithic: [-9000, -5000]')
    elif des3_periods_v2['periods'][i] == 'CH':
        info_legend.append('Chalcolithic: [-5000, -2500]')
    elif des3_periods_v2['periods'][i] == 'BR':
        info_legend.append('Bronze: [-2500, -1000]')
    elif des3_periods_v2['periods'][i] == 'A':
        info_legend.append('Archaic: [-1000, -550]')
    elif des3_periods_v2['periods'][i] == 'C':
        info_legend.append('Classical: [-550, -330]')
    elif des3_periods_v2['periods'][i] == 'H':
        info_legend.append('Hellenistic-Republican: [-330, -30]')
    elif des3_periods_v2['periods'][i] == 'R':
        info_legend.append('Roman: [-30, 300]')
    elif des3_periods_v2['periods'][i] == 'L':
        info_legend.append('Late Antique: [300, 640]')
    elif des3_periods_v2['periods'][i] == 'M':
        info_legend.append('Medieval/Byzantine: [640, 1500]')
    else: #des4_periods_v3['periods'] == 'MOD':
        info_legend.append('Modern Era: [1500, 2100]')

des3_periods_v2['info_legend'] = info_legend
des3_periods_v2 = des3_periods_v2.rename(columns={"countries": "Country"})
des3_periods_v2

,featureType,pid,minDate,maxDate,c_code,Country,periods,avg_year,info_legend
0,settlement,464208936,-2600000,2000,jo,Jordan,P,-1299000,"Paleolithic: [-2600000, -18000]"
1,settlement,903102,-2600000,2000,ir,Iran,P,-1299000,"Paleolithic: [-2600000, -18000]"
2,"settlement,",456814175,-18000,-9000,sy,Syria,ME,-13500,"Mesolithic: [-18000, -9000]"
3,"settlement,",75292543,-10000,-3300,tr,Turkey,NE,-6650,"Neolithic: [-9000, -5000]"
4,settlement,880264862,-10000,-3300,il,Israel,NE,-6650,"Neolithic: [-9000, -5000]"
...,...,...,...,...,...,...,...,...,...
28560,river,433211,2000,2099,it,Italy,MOD,2049,"Modern Era: [1500, 2100]"
28561,settlement-modern,426600,2000,2099,it,Italy,MOD,2049,"Modern Era: [1500, 2100]"
28562,settlement-modern,426591,2000,2099,it,Italy,MOD,2049,"Modern Era: [1500, 2100]"
28563,settlement-modern,420169498,2000,2099,it,Italy,MOD,2049,"Modern Era: [1500, 2100]"
28564,hill,755385623,2000,2099,it,Italy,MOD,2049,"Modern Era: [1500, 2100]"

In [51]:
## Saving the dataframe to a file so we don't
## need to run the whole notebook every time

des3_periods_v2.to_csv('des3_periods_v2.csv')
des3_df.to_csv('des3_df_barplot.csv')

### Preparing the dataframe for the map

In [257]:
map_df = p_places[['title', 'description', 'featureTypes', 'id', 'path', 'reprLat', 'reprLong', 'locationPrecision', 'minDate', 'maxDate']]
map_df = map_df[map_df['reprLat'].notna()]
map_df = map_df[map_df['minDate'].notna()]
map_df

,title,description,featureTypes,id,path,reprLat,reprLong,locationPrecision,minDate,maxDate
0,Borgo Medievale,The post-Roman settlement at Alba Fucens becam...,settlement,48210385,/places/48210385,42.082885,13.411984,precise,640.0,1453.0
1,Tempio Grande at Vulci,A major urban sanctuary at Vulci with a long p...,temple-2,48210386,/places/48210386,42.419374,11.628546,precise,-750.0,300.0
2,Consabura/Consabrum,"An ancient settlement, likely of Celtic origin...",settlement,265876,/places/265876,39.460299,-3.606772,precise,-330.0,640.0
3,Contestania (region),Contestania was a region located in the southw...,region,265877,/places/265877,38.988847,-0.515639,related,-330.0,300.0
4,Cueva de la Paloma,"An ancient place, cited: BAtlas 27 C4 Cueva de...",mine-2,265878,/places/265878,37.241792,-2.403309,precise,-330.0,300.0
...,...,...,...,...,...,...,...,...,...,...
37731,Grabbist Hillfort,Grabbist Hillfort is an Iron Age hill-fort loc...,fort-2,721382240,/places/721382240,51.183180,-3.456454,precise,-800.0,100.0
37732,Worlebury Camp,Worlebury Camp is the site of an Iron Age hill...,fort,893850615,/places/893850615,51.357425,-2.985153,precise,-800.0,100.0
37733,Amphitheater of Alba Fucens,A first century A.D. amphitheater at Alba Fuce...,amphitheatre,535296216,/places/535296216,42.077222,13.412317,precise,-30.0,2100.0
37734,Corinth Roman Amphitheater,The small Roman amphitheater at Corinth was lo...,amphitheatre,233061794,/places/233061794,37.909675,22.892179,precise,-30.0,300.0
37736,Santalla de Bóveda,The Roman sanctuary of Santalla de Bóveda date...,temple-2,743134062,/places/743134062,42.980095,-7.685967,precise,-30.0,640.0

In [258]:
map_df.isnull().sum()

title                0
description          7
featureTypes         0
id                   0
path                 0
reprLat              0
reprLong             0
locationPrecision    0
minDate              0
maxDate              0
dtype: int64

In [259]:
precision = list(map_df.locationPrecision.values)
precision.count('rough')

5447

In [260]:
map_df2 = map_df[map_df['locationPrecision']== 'precise']
map_df2 = map_df2.sort_values(by=['minDate', 'maxDate']).reset_index(drop=True)
map_df2 = map_df2.astype({"minDate": int, "maxDate": int})
map_df2

,title,description,featureTypes,id,path,reprLat,reprLong,locationPrecision,minDate,maxDate
0,Ancyra,"An ancient place, cited: BAtlas 63 B1 Ancyra",settlement,619103,/places/619103,39.962827,32.819756,precise,-2600000,2000
1,Sidon/Col. Aurelia Pia,Sidon/Col. Aurelia Pia is an ancient maritime ...,settlement,678393,/places/678393,33.560328,35.373240,precise,-2600000,2000
2,Heliopolis,"An ancient place, cited: BAtlas 74 E4 Heliopolis",settlement,727117,/places/727117,30.131757,31.284786,precise,-2600000,2000
3,Aelana/Aila,The city of Aqaba on the Red Sea.,"settlement, port",746700,/places/746700,29.530676,34.999999,precise,-2600000,2000
4,Edessa/Antiochia ad Callirhoem,Edessa/Antiochia ad Callirhoem was an ancient ...,settlement,658457,/places/658457,37.148633,38.786696,precise,-2600000,2000
...,...,...,...,...,...,...,...,...,...,...
22607,Roman villa at Tourmont,Remains of a large Roman villa and site of a s...,"villa, settlement-modern",237325182,/places/237325182,46.860400,5.682730,precise,2000,2099
22608,Aliler Fortress,Aliler Castle is the modern Turkish name of an...,"settlement-modern, fort",291498921,/places/291498921,38.843940,43.499128,precise,2000,2099
22609,Kaleköy,Kaleköy is a modern village situated ca. 15 km...,"tomb, settlement-modern",2793986,/places/2793986,39.025492,39.658569,precise,2000,2099
22610,Summerston,A Roman military installation of 2.4 ha associ...,"settlement-modern, military-installation-or-ca...",325648991,/places/325648991,55.903603,-4.288892,precise,2000,2099
22611,Armenta (river),"An ancient place, cited: BAtlas 42 B4 Armenta fl.",river,413029,/places/413029,42.555016,11.607374,precise,2000,2099

# Creating the Desing 3

In [1]:
from IPython.display import display, HTML

display(HTML("""
<style>
form.vega-bindings {
  position: absolute;
  right: 900px;
  top: 1000px;
}

</style>
"""))


des3_periods_v2 = pd.read_csv('des3_periods_v2.csv', index_col=0)
des3_df = pd.read_csv('des3_df_barplot.csv', index_col=0)
map_df2 = pd.read_csv('map_df2.csv', index_col=0)

alt.data_transformers.disable_max_rows()

threshold = pd.DataFrame([{"threshold": 1000}])
selector = alt.selection_multi(fields=['Country'])
selector2 = alt.selection_multi(fields=['Country'])

##############
## BAR PLOT ##
##############
bars = alt.Chart(des3_df).mark_bar().encode(
    x=alt.X('sum(anc_places):Q', title='Sum of Ancient Places'),
    y=alt.Y("Country:N", title='Country',
            sort=alt.Sort(field="anc_places", order="descending"),
            ),
   # color=alt.condition(selector,
   #                     'anc_places:O',
   #                     alt.value('lightgray'),
   #                     legend=None
   #                    )
).properties(
    title="No. Ancient Places per Country (Top 30)",
    #fontSize=20,
    width=530,
    height=720
).transform_calculate(
    "baseline", "90"
).add_selection(
    selector
)

text = alt.Chart(des3_df).mark_text(dx=20, dy=0, color='black').encode(
    x=alt.X('sum(anc_places):Q', stack='zero'),
    y=alt.Y('Country:N', sort=alt.Sort(field="anc_places", order="descending")),
   # detail=feattt,#'site:N',
    text=alt.Text('sum(anc_places):Q', format='.0f')
)

highlight = alt.Chart(des3_df).mark_bar(color="#e45755").encode(
    x=alt.X('sum(anc_places):Q'),
    x2= alt.X2('baseline:Q'),
    y=alt.Y('Country:N', sort=alt.Sort(field="anc_places", order="descending")),
).transform_calculate(
    "baseline", "1000"
).transform_window(
    rank='rank(anc_places)',
    sort=[alt.SortField("anc_places", order="descending")],
).transform_filter(
    alt.datum.anc_places > 1000
).transform_filter(
    selector #brush
)

rule = alt.Chart(threshold).mark_rule().encode(
    x='threshold:Q'
)

barss = bars + text + highlight + rule

##################
## Time Periods ##
##################
color_scale = alt.Scale(
    domain=[
            'Paleolithic: [-2600000, -18000]',
            'Mesolithic: [-18000, -9000]',
            'Neolithic: [-9000, -5000]',
            'Chalcolithic: [-5000, -2500]',
            'Bronze: [-2500, -1000]',
            'Archaic: [-1000, -550]',
            'Classical: [-550, -330]',
            'Hellenistic-Republican: [-330, -30]',
            'Roman: [-30, 300]',
            'Late Antique: [300, 640]',
            'Medieval/Byzantine: [640, 1500]',
            'Modern Era: [1500, 2100]'
    ],
    range=["#A40126", "#D73027", "#F56D43", "#FDAE61", "#FFE090", "#FFFFBF", "#E0F3F9", "#ABD9E9", "#75ADD2", "#4575B5", "#3145ce", "#314553"]
)

bubbles = alt.Chart(des3_periods_v2).mark_circle(
    opacity=0.8,
    stroke='black',
    strokeWidth=1
).encode(
    alt.X('avg_year:O', axis=alt.Axis(labelAngle=0), title='Time'),
    alt.Y('Country:N', axis=alt.Axis(labelAngle=0, grid=True), title='Countries'),
    alt.Size('count(Country):Q',
        scale=alt.Scale(range=[0, 4000]),
        legend=alt.Legend(title='No. Ancient Places')
        ),
   # color=alt.condition(selector, #brush,
   #                     'info_legend:N',
   #                     alt.value('lightgray'),
   #                     legend=alt.Legend( title='Time Periods'),
   #                     scale=color_scale
   #                    ),
    #alt.Color('periods:N')
    color=alt.Color(
        'info_legend:N',
        legend=alt.Legend( title='Time Periods'),
        scale=color_scale,
        ),
    tooltip = ['Country', 'info_legend', 'count()']
).properties(
    title= "Countries' No. Ancient Places through Time Periods (Top 30)",
    width=1200,
    height=720
).add_selection(
    selector
).transform_filter(
    selector #brush
)

#################
##  WORLD MAP  ##
#################
from vega_datasets import data
from altair.expr import datum

countries = alt.topo_feature(data.world_110m.url, 'countries')

'''
slider_start = alt.binding_range(min=-5000,#map_df2.minDate.min(),
                                 max=map_df2.maxDate.max(),
                                 step = 20)

slider_end = alt.binding_range(min=-5000,#map_df2.minDate.min(),
                                 max=map_df2.maxDate.max(),
                                 step = 10)

select_year_start = alt.selection_single(name='minDate',
                                        fields=['minDate'],
                                        bind=slider_start, init={'minDate': -5000})

select_year_end = alt.selection_single(name='maxDate',
                                        fields=['maxDate'],
                                        bind=slider_end, init={'maxDate': 2100})
'''

slider = alt.binding_range(min=-19000,#map_df2.minDate.min(),
                           max=map_df2.maxDate.max(),
                           step = 50)

select_year = alt.selection_single(name='minDate',
                                    fields=['minDate'],
                                    bind=slider, init={'minDate': -19000 })#map_df2.minDate.min()})






world_map = alt.Chart(countries).mark_geoshape(
    fill='lightgray',
    stroke='white',
).project(
    type= 'mercator',
    scale= 450,                          # Magnify
    center= [-35.3,62.7],                     # [lon, lat]
    clipExtent= [[0, 0], [1300, 800]],    # [[left, top], [right, bottom]]
).properties(
    title='Ancient Places Locations throughout History',
    width=1300, height=800
)


points = alt.Chart(map_df2).transform_filter(
 # (datum.minDate <= select_year_start.minDate) & (datum.maxDate >= select_year_end.maxDate)
    (datum.minDate <= select_year.minDate) & (datum.maxDate >= select_year.minDate)
).add_selection(
  #  select_year_end,
  #  select_year_start,
    select_year
).mark_point(size=1).encode(
    latitude="reprLat:Q",
    longitude="reprLong:Q",
    tooltip=['title']
)




row2 = world_map + points

row1 = alt.hconcat(barss, bubbles, spacing=20)

#barss | bubbles
#bubbles

dashboard2 = alt.vconcat(row1, row2, spacing=20,padding={"top":75}, title={"text":"Locations of Ancient Places through Historic Time Periods",
                                                   "fontSize":23,
                                                   "anchor":"middle", 
                                                   "baseline":"alphabetic"}).configure_axis(
    labelFontSize=13,
    titleFontSize=15
).configure_legend(
titleFontSize=18,
labelFontSize=15,
labelLimit= 0
)
dashboard2

NameError: name 'pd' is not defined